div.container{
    display: flex;
    div.transactionBox{
        flex: 1;
        border-right: 1px solid black;
    }
    div.steps{
       flex: 1;
       border-right: 1px solid black;
    }
    div.validator{
      flex: 1.5;
    }
}