div.container{
    display: flex;
    div.transactionBox{
        flex: 1;
        border: 1px solid black;
    }
    div.steps{
       flex: 1;
       border: 1px solid black;
    }
    div.validator{
      flex: 2;
      border: 1px solid black;
    }
}