@import "../../../color.scss";
div.container {
  div.heading {
    font-family: $default-font-family;
    text-align: center;
  }
$color_2: #50d890;
div.timeLineContianer{
  display: flex;
  margin-left: 2%;
  div.circle_line{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2px;
    div.circle{
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $cube-color;
      clip-path: circle(0%);
    }
  }
}
//for old one
// .container {
// 	width: 500px;
// 	margin: 0 auto;
// 	position: relative;
// }
// .rightbox {
// 	height: 100%;
// }
// .rb-container {
// 	font-family: $default-font-family;
// 	width: 100%;
// 	display: block;
// 	position: relative;
//   margin-left: 10%;
// 	ul.rb {
//     margin-top: 0px;
// 		padding: 0;
// 		display: inline-block;
// 		li {
// 			list-style: none;
// 			margin: auto;
// 			min-height: 50px;
// 			border-left: 2px dashed $virtualLine-color;
// 			padding: 0 0 50px 15px;
// 			position: relative;
// 			&::before {
// 				position: absolute;
// 				left: -10px;
// 				top: -1px;
// 				content: " ";
// 				border: 10px solid $cube-color;
// 				border-radius: 500%;
// 				background: $map-country-color;
// 				height: 0;
// 				width: 0;
// 				transition: all 500ms ease-in-out;
// 			}
// 			&:hover {
// 				&::before {
					
// 				}
// 			}
// 		}
// 	}
// }
// ul.rb {
// 	li {
// 		.timestamp {
// 			color: $color_2;
// 			position: relative;
// 			width: 100px;
// 			font-size: 12px;
// 		}
// 	}
// }
// .item-title {
// 	color: black;
// }
//end

}
