<div class="container">
  <div class="heading headingVerticleSpace">{{ heading }}</div>
  <div class="timeLineContianer">
    <div class="leftSide">
      <sb-step
        *ngFor="let timeLine of timeLines; let i = index"
        [msgIndex]="i"
        [showLine]="i != timeLines.length - 1"
        [startAnimation]="!!start[i]"
        (animationCompleted)="animationCompleted()"
        (typingStarted)="startValidatorAnimation(i)"
        [stepText]="timeLine"
      ></sb-step>
    </div>
  </div>
</div>
