$block-chain-bottom-color:gray;
$single-block-border: gray;
$single-block-border-minimla-box:("w":70px,"h":70px);
$default-font-family:'Popins';
$cube-color:#5b9bd2;
$map-country-color:#80808045;
$virtualLine-color:rgb(210, 97, 97, 0.52)